<!doctype html>
<html lang="en">
  <head>
    <title>Đăng ký tài khoản</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://cdn1.vectorstock.com/i/1000x1000/66/50/tea-house-logo-vector-21286650.jpg">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet"href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="main">
        <!-- header starts -->
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="header-left">
                            <p>
                                <i>
                                    <img src="/images/i_phone.png" alt="">
                                </i>
                                Hotline:
                                <a href="#">1800 6750</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="header-right">
                            <div class="search">
                                <span>
                                    <i>
                                        <img src="/images/i_search.png" alt="">
                                    </i>
                                    Tìm kiếm
                                    <div class="search-input">
                                        <input type="text" placeholder="Tìm kiếm...">
                                    </div>
                                </span>
                            </div>
                            <div class="account">
                                <span>
                                    <i>
                                        <img src="/images/i_user.png" alt="">
                                    </i>
                                    Tài khoản
                                </span>
                                <div class="group-ac">
                                    <a href="./dangnhap.html">Đăng nhập</a>
                                    <a href="./dangky.html">Đăng ký</a>
                                </div>
                            </div>
                            <div class="cart">
                                <span>
                                    <i>
                                        <img src="/images/i_cart.png" alt="">
                                    </i>
                                    Giỏ hàng
                                </span>
                                <div class="no-cart">
                                   <p>Không có sản phẩm nào.</p> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header ends -->

        <!-- menu starts -->
        <div class="menu b-t">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="menu-left">
                            <ul class="sub__navmenu">
                                <li><a href="http://localhost:3000/" class="active">Trang chủ</a></li>
                                <li><a href="#">Giới thiệu</a></li>
                                <li>
                                    <a href="#" class="sp">
                                        Sản phẩm
                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    </a>
                                    <ul class="subnav__menu-left">
                                        <li><a href="#">Cà phê</a></li>
                                        <li><a href="#">Bánh ngọt</a></li>
                                        <li><a href="#">Smoothies</a></li>
                                        <li><a href="#">Trà hoa quả</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="logo">
                            <a href="#">
                                <img src="/images/logo.png" alt="">
                            </a>
                        </div>
                        <div class="menu-left">
                            <ul class="sub__navmenu">
                                <li><a href="#">Tin tức</a></li>
                                <li><a href="#">Thực đơn</a></li>
                                <li><a href="#">Liên hệ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- menu ends -->

        <!-- Dang nhap tai khoan -->
        <div class="dangnhap">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcumb">
                            <a href="./index.html">Trang chủ /</a>
                            <span>Đăng ký tài khoản</span>
                        </div>
                    </div>
                    <div class="box-dangnhap">
                        <h4>Đăng ký</h4>
                        <span>Đã có tài khoản, đăng nhập <a href="./dangnhap.html">tại đây</a></span>
                        <div class="email-password">
                            <form action="/users/register" method="post">

                                <input type="text" name="firstname" id="name" placeholder="Họ">

                                <input type="text" name="lastname" id="lastname" placeholder="Tên">

                                <input type="email" name="email" id="email" placeholder="Email">

                                <input type="password" name="password" id="password" placeholder="Password">

                                <div id="CheckHelp" class="form-text" style="color: red;"></div>
                                <input type="submit" value="Đăng ký">
                            </form>
                        </div>
                        <div class="or-account">
                            <span>Hoặc đăng nhập bằng</span>
                            <div class="app-btn">
                                <a href="#">
                                    <img src="/images/fb-btn.svg" alt="">
                                </a>
                                <a href="#">
                                    <img src="/images/gp-btn.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer starts -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4">
                        <div class="logo-footer">
                            <a href="#">
                                <img src="/images/logo.png" alt="">
                            </a>
                            <p class="sum-footer">Chúng tôi mong muốn Tea House sẽ trở thành “Nhà Trà", nơi mọi người xích lại gần nhau và tìm thấy niềm vui, sự sẻ chia thân tình bên những tách cà phê đượm hương, chất lượng.</p>
                        </div>
                        <div class="social-icon">
                            <a href="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <h4 class="title-footer">
                            <a href="#">LIÊN HỆ VỚI CHÚNG TÔI</a>
                        </h4>
                        <div class="address">
                            <div class="address-icon">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </div>
                            <div class="address-info">
                                <span>
                                    <b>Địa chỉ: </b>
                                    364 Dương Quảng Hàm, Phường 5, Gò Vấp, TP. Hồ Chí Minh
                                </span>
                            </div>
                        </div>
                        <div class="address">
                            <div class="address-icon">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </div>
                            <div class="address-info">
                                <span>
                                    <b>Hotline liên hệ:  </b>
                                    <a href="#"> 0869536638</a> 
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <h4 class="title-footer">
                            <a href="#">ĐĂNG KÝ NHẬN KHUYẾN MÃI</a>
                        </h4>
                        <div class="text-title-footer">
                            <p>Đừng bỏ lỡ những sản phẩm và chương trình khuyến mãi hấp dẫn</p>
                        </div>
                        <div class="register-footer">
                            <form action="">
                                <input type="text" placeholder="Email của bạn">
                                <button>Đăng ký</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer ends -->
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.5/axios.min.js" integrity="sha512-TjBzDQIDnc6pWyeM1bhMnDxtWH0QpOXMcVooglXrali/Tj7W569/wd4E8EDjk1CwOAOPSJon1VfcEt1BI4xIrA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>